<html>
<h1> Hwacha </h1>


<body>





<form action="" method="POST" enctype="multipart/form-data">
  Subject<br>
    <input name="subject"  type="text">
    <br>
     Your message:<br>
    <textarea name="message" rows="7" cols="30">
    </textarea><br>
    
    <input type="Checkbox" value="all" name="sm_all"> all 
    <input type="Checkbox" value="mail" name="sm_mail"> mail 
    <input type="Checkbox" value="twitter" name="sm_twitter"> twitter 
    <input type="Checkbox" value="wordpress" name="sm_wordpress"> wordpress <br> 

	<input value="Broadcast" type="submit">
	

   </form>

</body>


</html>
