$def with(sm_list,all_list)


<h1>Hwacha</h1>



<form action="" method="POST" enctype="multipart/form-data">
  Subject<br>
    <input name="subject"  type="text">
    <br>
     Your message:<br>
    <textarea name="message" rows="7" cols="30">
    </textarea><br>

$if len(sm_list)>1:
    <input type="Checkbox" value="all" name="sm_all"> all


$for i in sm_list:
    
    <input type="Checkbox" value=$i name=$i> $i
    


<br>
<input value="Broadcast" type="submit">
	

</form>


<h2> available list</h2>

$for i in sm_list:
   <table>
      <tr>
         <td> $i</td>
         <td> 
            <form action="/del/$i" method="post">
              <input type="submit" value="Delete" name=$i/>
            </form>
         </td>
      </tr>
   </table>

$for i in all_list:
  
   
   $if i not in sm_list:
      <table>
         <tr>
            <td> $i</td>
            <td>
                <form action="/add/$i" method="post">
                   <input type="submit" value="Add" name=$i/>
                </form>
            </td>
         </tr>
      </table>


